example-flow.json
[{"type":"tab","id":"c4a0c4fe.859b68","label":"Flow 1","_def":{"defaults":{"label":{"value":""}}}},{"id":"3053d3b8.28232c","type":"slip","z":"c4a0c4fe.859b68","name":"","mode":"decode","x":507.5,"y":158,"wires":[["4df3d42f.4a965c"]]},{"id":"7f1e29da.d3fd18","type":"inject","z":"c4a0c4fe.859b68","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.5,"y":78,"wires":[["15cb0905.433f97"]]},{"id":"4df3d42f.4a965c","type":"debug","z":"c4a0c4fe.859b68","name":"","active":true,"console":"true","complete":"true","x":668.5,"y":214,"wires":[]},{"id":"15cb0905.433f97","type":"function","z":"c4a0c4fe.859b68","name":"One SLIP Packet","func":"msg.payload = new Buffer([\n    0xC0, 79, 110, 101, 0xC0\n    \n]);\nreturn msg;","outputs":1,"noerr":0,"x":287.5,"y":78,"wires":[["3053d3b8.28232c"]]},{"id":"210e5d12.fad852","type":"inject","z":"c4a0c4fe.859b68","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":109.5,"y":283,"wires":[["1bbc3955.a82ee7"]]},{"id":"a85ad8d6.8f8c48","type":"slip","z":"c4a0c4fe.859b68","name":"","mode":"encode","x":510,"y":280,"wires":[["4df3d42f.4a965c"]]},{"id":"1bbc3955.a82ee7","type":"function","z":"c4a0c4fe.859b68","name":"Hello Buffer","func":"msg.payload = new Buffer(\"hello\");\nreturn msg;","outputs":1,"noerr":0,"x":269.5,"y":283,"wires":[["a85ad8d6.8f8c48"]]},{"id":"949faea0.acdbc","type":"inject","z":"c4a0c4fe.859b68","name":"Hello String","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":272,"y":348,"wires":[["a85ad8d6.8f8c48"]]},{"id":"4b652bcb.e1f1e4","type":"inject","z":"c4a0c4fe.859b68","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":160,"wires":[["1e2ea89.1424a57"]]},{"id":"1e2ea89.1424a57","type":"function","z":"c4a0c4fe.859b68","name":"Three SLIP Packets","func":"msg.payload = new Buffer([\n    192, 79, 110, 101, 192,   // One\n    192, 84, 119, 111, 192,   // Two\n    192, 84, 104, 114, 101, 101, 192,  // Three\n    192, 70, 111, 117, 114   // Fourth packet is unterminated\n]);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["3053d3b8.28232c"]]}]