examples/slip.json
[{"id":"c20098e4.3dff68","type":"slip","z":"4c11fee5.b3ee","name":"","mode":"decode","x":507.5,"y":158,"wires":[["4ad3ab6e.b52c54"]]},{"id":"1e00a7b7.e1ff58","type":"inject","z":"4c11fee5.b3ee","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":107.5,"y":78,"wires":[["995e83af.66a18"]]},{"id":"4ad3ab6e.b52c54","type":"debug","z":"4c11fee5.b3ee","name":"","active":true,"console":"true","complete":"true","x":668.5,"y":214,"wires":[]},{"id":"995e83af.66a18","type":"function","z":"4c11fee5.b3ee","name":"One SLIP Packet","func":"msg.payload = new Buffer([\n    0xC0, 79, 110, 101, 0xC0\n    \n]);\nreturn msg;","outputs":1,"noerr":0,"x":287.5,"y":78,"wires":[["c20098e4.3dff68"]]},{"id":"afe55e9.f501aa","type":"inject","z":"4c11fee5.b3ee","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":109.5,"y":283,"wires":[["97f6181c.6809e8"]]},{"id":"e8361d72.17c9e","type":"slip","z":"4c11fee5.b3ee","name":"","mode":"encode","x":510,"y":280,"wires":[["4ad3ab6e.b52c54"]]},{"id":"97f6181c.6809e8","type":"function","z":"4c11fee5.b3ee","name":"Hello Buffer","func":"msg.payload = new Buffer(\"hello\");\nreturn msg;","outputs":1,"noerr":0,"x":269.5,"y":283,"wires":[["e8361d72.17c9e"]]},{"id":"2a95dff8.d56a2","type":"inject","z":"4c11fee5.b3ee","name":"Hello String","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":272,"y":348,"wires":[["e8361d72.17c9e"]]},{"id":"1d07528f.e2f8ad","type":"inject","z":"4c11fee5.b3ee","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":160,"wires":[["aca59790.535a68"]]},{"id":"aca59790.535a68","type":"function","z":"4c11fee5.b3ee","name":"Three SLIP Packets","func":"msg.payload = new Buffer([\n    192, 79, 110, 101, 192,   // One\n    192, 84, 119, 111, 192,   // Two\n    192, 84, 104, 114, 101, 101, 192,  // Three\n    192, 70, 111, 117, 114   // Fourth packet is unterminated\n]);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["c20098e4.3dff68"]]}]
